PORT=5000
MONGO_URI=mongodb://localhost:27017/codex-ide
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=61cc05f085mshe1769bf0874755bp123c0ajsn642c061cd703
JUDGE0_API_HOST=judge0-ce.p.rapidapi.com
